body {
  background: #fafafa;
  padding: 10px;
}

.continer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 60px;
  height: 60px;
}

.text {
  text-align: center;
  font-size: 15px;
}
